<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light justify-content-between border-bottom fixed-top">
      <div class="mx-3 my-1">
        <%= link_to "Wikinimous", articles_path, class: "navbar-brand text-secondary text-decoration-none p-0" %>
      </div>
      <div class="mx-3 my-1">
        <%= link_to "New Article", new_article_path, class: "nav-link text-secondary text-decoration-none p-0" %>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
